/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato' sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2.8rem;
}
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fd8, #28b485e7),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.logo {
  height: 3.6rem;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.header-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.header-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
   animation-delay: 3s;
    */
}
.header-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  animation: moveInright 1s ease-out;
}
@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
} ;
